.card{
    width: 500px;
    background-color: azure;
    padding: 10px;
}
.photo{
    margin: auto;
    width: 50%;
    border-radius: 50%;
}
.photo img{
    width: 100%;
}
.name{
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
}